dialog {
  position: absolute;
  left: 0; right: 0;
  margin: auto;
  border: solid;
  padding: 1em;
  background: white;
  color: black;

  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;

  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;

  display: none;
}

dialog[open] {
  display: block;
}

.backdrop {
  position: fixed;
  background-color:rgba(0,0,0,0.1);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
